body{
     margin: 0;
     padding: 0;
     background-image: url(./images/bg.jpg);
     background-size: cover;
     font-family: sans-serif;
}

.title{
        text-align: center;
        padding: 50px 0 20px;
}

.title h1{
           margin: 0;
           padding: 0;
           color: #fffbfb;
           text-transform: uppercase;
           font-size: 40px;
}

.container{
            width: 50%;
            height: 400px;
            background:#fff;
            margin: 0 auto;
            border: 2px solid #fff;
            box-shadow: 0 15px 40px rgba(0,0,0,0);
}
.container .left{
                  float: left;
                  width: 50%;
                  height: 400px;
                  background:url(./images/pic.jpg) ;
                  background-size: cover;
                  box-sizing: border-box;
}
.container .right{
                float: right;
                width: 50%;
                height: 400px;
                box-sizing: border-box ;
}
.formBx{
         width: 100%;
         padding: 80px 40px;
         box-sizing: border-box;
         height: 400px;
         background:#fff ;
}
.formBx p{
           margin: 0;
           padding: 0;
           font-weight: bold;
           color: #6f4e37;
}
.formBx input{
               width: 100%;
               margin-bottom: 20px;
}
.formBx input[type="text"],
.formBx input[type="password"]{
     border: none;
     border-bottom: 2px solid #6f4e37;
     height: 40px;
     outline: none;
}

.formBx input[type="text"]:focus,
.formBx input[type="password"]:focus{
    border-bottom: 2px solid#6f4e37;
}
.formBx input[type="submit"]{
         border:none;
         outline: none;
         height: 40px;
         color: #fff;
         background:#262626 ;
         cursor: pointer;
         transition: 0.5s;
}
.formBx input[type="submit"]:hover{
    background: #6f4e37;
}

.formBx a{
           color: #262626;
           font-size: 12px;
           font-weight: bold;
}